openapi: 3.0.2
info:
  description: Documentation of the PHAIDRA API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: PHAIDRA datastream API
  version: '3.0'
servers:
- description: API endpoint
  url: https://phaidra.unipd.it/api
tags:
- description: Requests for transforming and validating datastreams
  name: datastream
paths:
  /annotations/json2xml:
    post:
      description: Transforms the annotations JSON structure to XML (see an [example of annotation JSON structure](https://github.com/phaidra/phaidra-api/wiki/Annotations)).
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  description: example of annotation JSON
                  properties:
                    metadata:
                      $ref: '#/components/schemas/annotations'
                  type: object
              type: object
        description: Annotations JSON
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  annotations:
                    type: object
                type: object
          description: Annotations in XML.
      summary: Transforms annotations JSON to XML.
      tags:
      - datastream
  /annotations/json2xml_validate:
    post:
      description: 'Transforms the annotations structure from JSON to XML and validates it. '
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  $ref: '#/components/schemas/annotations'
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: annotations JSON validated.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: Bad request
      summary: Validates the annotations JSON.
      tags:
      - datastream
  /annotations/validate:
    post:
      description: Validates the annotations structure in XML.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    annotations:
                      example: <ph:annotations xmlns:ph="http://phaidra.org/XML/V1.0/annotations"><ph:annotation ph:id="1"><ph:x>0.7</ph:x><ph:y>0.6</ph:y><ph:w>0.2</ph:w><ph:h>0.18</ph:h><ph:category>pigments</ph:category><ph:text>prussian blue</ph:text></ph:annotation><ph:annotation ph:id="3"><ph:x>0.7</ph:x><ph:y>0.4</ph:y><ph:w>0.1</ph:w><ph:h>0.1</ph:h><ph:category>people</ph:category><ph:text>Mary</ph:text></ph:annotation><ph:annotation ph:id="2"><ph:x>0.1</ph:x><ph:y>0.8</ph:y><ph:w>0.15</ph:w><ph:h>0.1</ph:h><ph:category>pigments</ph:category><ph:text>azurite</ph:text></ph:annotation></ph:annotations>
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: Annotations XML validated.
      summary: Validates the annotations XML.
      tags:
      - datastream
  /annotations/xml2json:
    post:
      description: Transforms the XML annotations structure to JSON.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    annotations:
                      example: <ph:annotations xmlns:ph="http://phaidra.org/XML/V1.0/annotations"><ph:annotation ph:id=1><ph:x>0.7</ph:x><ph:y>0.6</ph:y><ph:w>0.2</ph:w><ph:h>0.18</ph:h><ph:category>pigments</ph:category><ph:text>prussian blue</ph:text></ph:annotation><ph:annotation ph:id=3><ph:x>0.7</ph:x><ph:y>0.4</ph:y><ph:w>0.1</ph:w><ph:h>0.1</ph:h><ph:category>people</ph:category><ph:text>Mary</ph:text></ph:annotation><ph:annotation ph:id="2"><ph:x>0.1</ph:x><ph:y>0.8</ph:y><ph:w>0.15</ph:w><ph:h>0.1</ph:h><ph:category>pigments</ph:category><ph:text>azurite</ph:text></ph:annotation></ph:annotations>
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  metadata:
                    $ref: '#/components/schemas/annotations'
                type: object
          description: annotations in JSON
      summary: Transforms annotations XML to JSON.
      tags:
      - datastream
  /geo/json2xml:
    post:
      description: Transforms the geo structure from JSON to XML (see [examples of geo datastream of a map object](https://github.com/phaidra/phaidra-api/wiki/GEO-datastream-of-a-map-object)).
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  description: example of geo JSON
                  properties:
                    metadata:
                      $ref: '#/components/schemas/geo'
                  type: object
              type: object
        description: Geo JSON
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  metadata:
                    properties:
                      geo:
                        type: string
                    type: object
                type: object
          description: geolocation in XML.
      summary: Transforms the geo JSON to XML.
      tags:
      - datastream
  /geo/json2xml_validate:
    post:
      description: Transforms the geo structure from JSON to XML and validates it. See [examples of geo datastream of a map object](https://github.com/phaidra/phaidra-api/wiki/GEO-datastream-of-a-map-object).
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  $ref: '#/components/schemas/geo'
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: geo JSON validated.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: Bad request
      summary: Validates the geo JSON.
      tags:
      - datastream
  /geo/validate:
    post:
      description: Validates the geo structure in XML.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    geo:
                      example: <kml:kml xmlns:kml="http://www.opengis.net/kml/2.2"><kml:Document><kml:Placemark><kml:name>Tiflis, Metechi-Kirche</kml:name><kml:description>Tiflis, Georgien Tbilisi, Georgia</kml:description><kml:Point><kml:coordinates>44.8112504748688,41.6902784095934,0</kml:coordinates></kml:Point></kml:Placemark></kml:Document></kml:kml>
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: geo XML validated.
      summary: Validates the geo XML.
      tags:
      - datastream
  /geo/xml2json:
    post:
      description: Transforms the geo structure from XML to JSON (see [examples of geo datastream of a map object](https://github.com/phaidra/phaidra-api/wiki/GEO-datastream-of-a-map-object)).
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    geo:
                      example: <kml:kml xmlns:kml="http://www.opengis.net/kml/2.2"><kml:Document><kml:Placemark><kml:name>Tiflis, Metechi-Kirche</kml:name><kml:description>Tiflis, Georgien Tbilisi, Georgia</kml:description><kml:Point><kml:coordinates>44.8112504748688,41.6902784095934,0</kml:coordinates></kml:Point></kml:Placemark></kml:Document></kml:kml>
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  geo:
                    $ref: '#/components/schemas/geo'
                type: object
          description: geo in JSON
      summary: Transforms geo XML to JSON.
      tags:
      - datastream
  /members/order/json2xml:
    post:
      description: Transforms the members JSON structure to XML. See [example of members JSON structure](https://github.com/phaidra/phaidra-api/wiki/Collection-members-json-structure).
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  properties:
                    metadata:
                      $ref: '#/components/schemas/members'
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    type: array
                  metadata:
                    type: string
                type: object
          description: Members JSON in XML format.
      summary: Transforms members JSON to XML.
      tags:
      - datastream
  /members/order/xml2json:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    geo:
                      example: <co:collection_order xmlns:co="http://phaidra.univie.ac.at/XML/collection_order/V1.0"><co:member pos="1">o:98079</co:member><co:member pos="2">o:97973</co:member><co:member pos="3">o:98109</co:member><co:member pos="4">o:98074</co:member><co:member pos="5">o:16066</co:member><co:member pos="6">o:16083</co:member><co:member pos="7">o:98076</co:member><co:member pos="8">o:26111</co:member><co:member pos="9">o:18</co:member><co:member pos="10">o:62026</co:member></co:collection_order>
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  metadata:
                    $ref: '#/components/schemas/members'
                type: object
          description: Collection members in JSON
      summary: Transforms the members XML structure to JSON.
      tags:
      - datastream
  /mods/json2xml:
    post:
      description: Transforms the MODS from JSON to XML.
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  $ref: '#/components/schemas/mods'
                  description: example of mods JSON
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  metadata:
                    properties:
                      mods:
                        type: string
                    type: object
                type: object
          description: MODS XML.
      summary: Transforms MODS JSON to XML.
      tags:
      - datastream
  /mods/json2xml_validate:
    post:
      description: Transforms the MODS structure from JSON to XML and validates it.
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  $ref: '#/components/schemas/mods'
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: MODS JSON validated.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: Bad request
      summary: Validates MODS JSON
      tags:
      - datastream
  /mods/tree:
    get:
      description: Returns the MODS structure with all nodes, dictionaries, etc.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mods_tree'
          description: Mods tree.
      summary: Get MODS tree.
      tags:
      - datastream
  /mods/validate:
    post:
      description: Validates the MODS structure in XML.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    annotations:
                      example: <mods:mods xmlns:mods="http://www.loc.gov/mods/v3"><mods:identifier type="ac-number">AC04090285</mods:identifier><mods:language><mods:languageTerm authority="iso639-2b" type="code">ger</mods:languageTerm></mods:language><mods:name authority="gnd" authorityURI="http://d-nb.info/gnd/" type="personal" valueURI="http://d-nb.info/gnd/121309096"><mods:namePart type="given">Gustav</mods:namePart><mods:namePart type="family">Freytag</mods:namePart><mods:role><mods:roleTerm authority="marcrelator" type="code">edt</mods:roleTerm></mods:role></mods:name><mods:titleInfo><mods:title>Karte der Dachstein-Gruppe</mods:title><mods:subTitle>für Touristen</mods:subTitle></mods:titleInfo><mods:relatedItem type="series"><mods:titleInfo><mods:title>Touristenkarten</mods:title></mods:titleInfo></mods:relatedItem><mods:classification authority="bkl" authorityURI="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/" valueURI="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/cls_10/1065197">Deutschland, Österreich, Schweiz &lt;Geographie&gt;</mods:classification><mods:subject><mods:geographic authority="gnd" authorityURI="http://d-nb.info/gnd/" valueURI="http://d-nb.info/gnd/4010858-2">Dachstein</mods:geographic><mods:topic authority="gnd">Karte</mods:topic></mods:subject><mods:originInfo><mods:dateIssued encoding="w3cdtf" keyDate="yes">1931</mods:dateIssued><mods:place><mods:placeTerm type="text">Wien</mods:placeTerm></mods:place><mods:publisher>G. Freytag &amp; Berndt</mods:publisher></mods:originInfo><mods:physicalDescription><mods:extent>1 Kt.</mods:extent><mods:form>mehrfarb.</mods:form><mods:extent>58 x 55 cm</mods:extent></mods:physicalDescription><mods:recordInfo><mods:recordContentSource>Universitätsbibliothek Wien</mods:recordContentSource><mods:recordOrigin>Maschinell erzeugt</mods:recordOrigin><mods:languageOfCataloging><mods:languageTerm authority="iso639-2b" type="code">ger</mods:languageTerm></mods:languageOfCataloging><mods:descriptionStandard>rakwb</mods:descriptionStandard></mods:recordInfo><mods:note type="statement of responsibility">Bestand der Kartensammlung der Fachbereichsbibliothek Geographie und Regionalforschung, Universität Wien</mods:note><mods:accessCondition type="use and reproduction">http://creativecommons.org/publicdomain/mark/1.0/</mods:accessCondition></mods:mods>
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: XML validated.
      summary: Validates the MODS XML.
      tags:
      - datastream
  /mods/xml2json:
    post:
      description: Transforms the MODS from XML to JSON.
      parameters:
      - description: mode full or basic
        in: query
        name: mode
        schema:
          default: basic
          enum:
          - full
          - basic
          required: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    annotations:
                      example: <mods:mods xmlns:mods="http://www.loc.gov/mods/v3"><mods:identifier type="ac-number">AC04090285</mods:identifier><mods:language><mods:languageTerm authority="iso639-2b" type="code">ger</mods:languageTerm></mods:language><mods:name authority="gnd" authorityURI="http://d-nb.info/gnd/" type="personal" valueURI="http://d-nb.info/gnd/121309096"><mods:namePart type="given">Gustav</mods:namePart><mods:namePart type="family">Freytag</mods:namePart><mods:role><mods:roleTerm authority="marcrelator" type="code">edt</mods:roleTerm></mods:role></mods:name><mods:titleInfo><mods:title>Karte der Dachstein-Gruppe</mods:title><mods:subTitle>für Touristen</mods:subTitle></mods:titleInfo><mods:relatedItem type="series"><mods:titleInfo><mods:title>Touristenkarten</mods:title></mods:titleInfo></mods:relatedItem><mods:classification authority="bkl" authorityURI="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/" valueURI="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/cls_10/1065197">Deutschland, Österreich, Schweiz &lt;Geographie&gt;</mods:classification><mods:subject><mods:geographic authority="gnd" authorityURI="http://d-nb.info/gnd/" valueURI="http://d-nb.info/gnd/4010858-2">Dachstein</mods:geographic><mods:topic authority="gnd">Karte</mods:topic></mods:subject><mods:originInfo><mods:dateIssued encoding="w3cdtf" keyDate="yes">1931</mods:dateIssued><mods:place><mods:placeTerm type="text">Wien</mods:placeTerm></mods:place><mods:publisher>G. Freytag &amp; Berndt</mods:publisher></mods:originInfo><mods:physicalDescription><mods:extent>1 Kt.</mods:extent><mods:form>mehrfarb.</mods:form><mods:extent>58 x 55 cm</mods:extent></mods:physicalDescription><mods:recordInfo><mods:recordContentSource>Universitätsbibliothek Wien</mods:recordContentSource><mods:recordOrigin>Maschinell erzeugt</mods:recordOrigin><mods:languageOfCataloging><mods:languageTerm authority="iso639-2b" type="code">ger</mods:languageTerm></mods:languageOfCataloging><mods:descriptionStandard>rakwb</mods:descriptionStandard></mods:recordInfo><mods:note type="statement of responsibility">Bestand der Kartensammlung der Fachbereichsbibliothek Geographie und Regionalforschung, Universität Wien</mods:note><mods:accessCondition type="use and reproduction">http://creativecommons.org/publicdomain/mark/1.0/</mods:accessCondition></mods:mods>
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  mods:
                    $ref: '#/components/schemas/mods'
                type: object
          description: MODS as JSON structure.
      summary: Transforms MODS XML to JSON.
      tags:
      - datastream
  /rights/json2xml:
    post:
      description: Transforms the rights structure from JSON to XML (see [examples of rights structure](https://github.com/phaidra/phaidra-api/wiki/Example-of-rights))
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  description: example of rights JSON
                  properties:
                    metadata:
                      properties:
                        rights:
                          $ref: '#/components/schemas/rights'
                      type: object
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  metadata:
                    properties:
                      rights:
                        type: string
                    type: object
                type: object
          description: rights in XML.
      summary: Transforms rights JSON to XML.
      tags:
      - datastream
  /rights/json2xml_validate:
    post:
      description: Transforms the rights structure from JSON to XML and validates it (see [examples of rights structure](https://github.com/phaidra/phaidra-api/wiki/Example-of-rights)).
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  properties:
                    metadata:
                      $ref: '#/components/schemas/rights'
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: JSON validated.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: Bad request
      summary: Validates rights JSON.
      tags:
      - datastream
  /rights/validate:
    post:
      description: Validates the rights structure in XML.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    rights:
                      example: <uwr:rights xmlns:uwr="http://phaidra.univie.ac.at/XML/V1.0/rights"><uwr:allow><uwr:username expires="2016-08-25T14:31:34Z" >username123</uwr:username></uwr:allow></uwr:rights>
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: xml validated.
      summary: Validates rights XML.
      tags:
      - datastream
  /rights/xml2json:
    post:
      description: Transforms the rights structure from XML to JSON (see [examples of rights structure](https://github.com/phaidra/phaidra-api/wiki/Example-of-rights)).
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    rights:
                      example: <uwr:rights xmlns:uwr="http://phaidra.univie.ac.at/XML/V1.0/rights"><uwr:allow><uwr:username expires="2016-08-25T14:31:34Z" >username123</uwr:username></uwr:allow></uwr:rights>
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  rights:
                    $ref: '#/components/schemas/rights'
                  status:
                    type: number
                type: object
          description: rights in JSON
      summary: Transforms rights XML to JSON.
      tags:
      - datastream
  /uwmetadata/json2xml:
    post:
      description: Transforms uwmetadata structure from JSON to XML (see [examples of uwmetadata](https://github.com/phaidra/phaidra-api/wiki/Datastream-examples)).
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  description: example of uwmetadata JSON
                  properties:
                    metadata:
                      properties:
                        uwmetadata:
                          $ref: '#/components/schemas/uwmetadata_min'
                      type: object
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  metadata:
                    properties:
                      uwmetadata:
                        type: string
                    type: object
                type: object
          description: XML uwmetadata.
      summary: Transforms uwmetadata JSON to XML.
      tags:
      - datastream
  /uwmetadata/json2xml_validate:
    post:
      description: 'Transforms uwmetadata structure from JSON to XML, then validates the uwmetadata XML. See [examples of uwmetadata](https://github.com/phaidra/phaidra-api/wiki/Datastream-examples). '
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metadata:
                  $ref: '#/components/schemas/uwmetadata_article_basic'
              type: object
        description: JSON uwmetadata. An example of article uwmetadata in basic mode is provided.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: Json uwmetadata validated.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: Bad request
      summary: Validates JSON uwmetadata.
      tags:
      - datastream
  /uwmetadata/tree:
    get:
      description: Returns the uwmetadata structure with all nodes, labels, dictionaries, etc.
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  languages:
                    type: object
                  status:
                    type: number
                  tree:
                    $ref: '#/components/schemas/uwmetadata'
                type: object
          description: Uwmetadata tree.
      summary: Get uwmetadata structure.
      tags:
      - datastream
  /uwmetadata/validate:
    post:
      description: Validates the uwmetadata structure in XML (see an [example of uwmetadata XML](https://github.com/phaidra/phaidra-api/wiki/Article-uwmetadata-in-xml-format)). The XML has to be sent in the request body as raw data.
      requestBody:
        content:
          text/plain:
            schema:
              description: uwmetadata XML, the XML has to be sent in the request body as raw data.
              format: binary
              type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: Xml uwmetadata validated.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
          description: Bad request
      summary: Validates uwmetadata XML.
      tags:
      - datastream
  /uwmetadata/xml2json:
    post:
      description: Transforms the uwmetadata structure from XML to JSON (see [examples of uwmetadata](https://github.com/phaidra/phaidra-api/wiki/Datastream-examples)).
      parameters:
      - description: mode full or basic
        in: query
        name: mode
        schema:
          default: basic
          enum:
          - full
          - basic
          required: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metadata:
                  properties:
                    uwmetadata:
                      example: '<ns0:uwmetadata xmlns:ns0="http://phaidra.univie.ac.at/XML/metadata/V1.0" xmlns:ns1="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0" xmlns:ns2="http://phaidra.univie.ac.at/XML/metadata/extended/V1.0" xmlns:ns3="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity" xmlns:ns4="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/requirement" xmlns:ns5="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/educational" xmlns:ns6="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/annotation" xmlns:ns7="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification" xmlns:ns8="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization" xmlns:ns9="http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0" xmlns:ns10="http://phaidra.univie.ac.at/XML/metadata/provenience/V1.0" xmlns:ns11="http://phaidra.univie.ac.at/XML/metadata/provenience/V1.0/entity" xmlns:ns12="http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0" xmlns:ns13="http://phaidra.univie.ac.at/XML/metadata/etheses/V1.0">

                        <ns1:general>

                        <ns1:title language="de">Title</ns1:title>

                        <ns1:language>de</ns1:language>

                        </ns1:general>

                        <ns1:lifecycle>

                        <ns1:contribute seq="0">

                        <ns1:role>46</ns1:role>

                        <ns1:entity seq="0">

                        <ns3:firstname>Brenda</ns3:firstname>

                        <ns3:lastname>Walsh</ns3:lastname>

                        </ns1:entity>

                        </ns1:contribute>

                        </ns1:lifecycle>

                        <ns1:rights>

                        <ns1:license>1</ns1:license>

                        </ns1:rights>

                        </ns0:uwmetadata>

                        '
                      type: string
                  type: object
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  metadata:
                    properties:
                      uwmetadata:
                        $ref: '#/components/schemas/uwmetadata_min'
                    type: object
                type: object
          description: JSON uwmetadata.
      summary: Transforms uwmetadata XML to JSON.
      tags:
      - datastream
components:
  schemas:
    vocabularies_mapping:
      properties:
        abstract_shareable:
          type: string
        abstract_type:
          type: string
        accessCondition_type:
          type: string
        classification_authority:
          type: string
        classification_usage:
          type: string
        genre_authority:
          type: string
        genre_type:
          type: string
        genre_usage:
          type: string
        identifier_invalid:
          type: string
        identifier_type:
          type: string
        language_languageTerm_authority:
          type: string
        language_languageTerm_type:
          type: string
        language_scriptTerm_type:
          type: string
        language_usage_primary:
          type: string
        location_holdingSimple_copyInformation_enumerationAndChronology_unitType:
          type: string
        location_physicalLocation_authority:
          type: string
        location_physicalLocation_type:
          type: string
        location_url_access:
          type: string
        location_url_usage:
          type: string
        name_authority:
          type: string
        name_namePart_type:
          type: string
        name_role_roleTerm_authority:
          type: string
        name_role_roleTerm_type:
          type: string
        name_type:
          type: string
        name_usage:
          type: string
        note_type:
          type: string
        originInfo_copyrightDate_encoding:
          type: string
        originInfo_copyrightDate_keyDate:
          type: string
        originInfo_copyrightDate_point:
          type: string
        originInfo_copyrightDate_qualifier:
          type: string
        originInfo_dateCaptured_encoding:
          type: string
        originInfo_dateCaptured_keyDate:
          type: string
        originInfo_dateCaptured_point:
          type: string
        originInfo_dateCaptured_qualifier:
          type: string
        originInfo_dateCreated_encoding:
          type: string
        originInfo_dateCreated_keyDate:
          type: string
        originInfo_dateCreated_point:
          type: string
        originInfo_dateCreated_qualifier:
          type: string
        originInfo_dateIssued_encoding:
          type: string
        originInfo_dateIssued_keyDate:
          type: string
        originInfo_dateIssued_point:
          type: string
        originInfo_dateIssued_qualifier:
          type: string
        originInfo_dateModified_encoding:
          type: string
        originInfo_dateModified_keyDate:
          type: string
        originInfo_dateModified_point:
          type: string
        originInfo_dateModified_qualifier:
          type: string
        originInfo_dateOther_encoding:
          type: string
        originInfo_dateOther_keyDate:
          type: string
        originInfo_dateOther_point:
          type: string
        originInfo_dateOther_qualifier:
          type: string
        originInfo_dateValid_encoding:
          type: string
        originInfo_dateValid_keyDate:
          type: string
        originInfo_dateValid_point:
          type: string
        originInfo_dateValid_qualifier:
          type: string
        originInfo_edition_supplied:
          type: string
        originInfo_eventType:
          type: string
        originInfo_frequency_authority:
          type: string
        originInfo_issuance:
          type: string
        originInfo_place_placeTerm_authority:
          type: string
        originInfo_place_placeTerm_type:
          type: string
        originInfo_place_supplied:
          type: string
        originInfo_publisher_supplied:
          type: string
        part_date_encoding:
          type: string
        part_date_keyDate:
          type: string
        part_date_point:
          type: string
        part_date_qualifier:
          type: string
        part_detail_type:
          type: string
        part_extent_unit:
          type: string
        part_text_type:
          type: string
        part_type:
          type: string
        physicalDescription_digitalOrigin:
          type: string
        physicalDescription_extent_supplied:
          type: string
        physicalDescription_form_authority:
          type: string
        physicalDescription_form_type:
          type: string
        physicalDescription_note_type:
          type: string
        physicalDescription_reformattingQuality:
          type: string
        recordInfo_descriptionStandard:
          type: string
        recordInfo_descriptionStandard_authority:
          type: string
        recordInfo_languageOfCataloging_languageTerm_authority:
          type: string
        recordInfo_languageOfCataloging_languageTerm_type:
          type: string
        recordInfo_languageOfCataloging_scriptTerm_type:
          type: string
        recordInfo_languageOfCataloging_usage:
          type: string
        recordInfo_recordChangeDate_encoding:
          type: string
        recordInfo_recordChangeDate_keyDate:
          type: string
        recordInfo_recordChangeDate_point:
          type: string
        recordInfo_recordChangeDate_qualifier:
          type: string
        recordInfo_recordContentSource_authority:
          type: string
        recordInfo_recordCreationDate_encoding:
          type: string
        recordInfo_recordCreationDate_keyDate:
          type: string
        recordInfo_recordCreationDate_point:
          type: string
        recordInfo_recordCreationDate_qualifier:
          type: string
        recordInfo_recordIdentifier_source:
          type: string
        relatedItem_type:
          type: string
        subject_authority:
          type: string
        subject_geographicCode_authority:
          type: string
        subject_name_authority:
          type: string
        subject_name_namePart_type:
          type: string
        subject_name_role_roleTerm_authority:
          type: string
        subject_name_role_roleTerm_type:
          type: string
        subject_name_type:
          type: string
        subject_temporal_encoding:
          type: string
        subject_temporal_keyDate:
          type: string
        subject_temporal_point:
          type: string
        subject_temporal_qualifier:
          type: string
        subject_titleInfo_authority:
          type: string
        subject_titleInfo_type:
          type: string
        subject_usage:
          type: string
        tableOfContents_shareable:
          type: string
        tableOfContents_type:
          type: string
        targetAudience_authority:
          type: string
        titleInfo_authority:
          type: string
        titleInfo_supplied:
          type: string
        titleInfo_type:
          type: string
        titleInfo_usage:
          type: string
        typeOfResource:
          type: string
        typeOfResource_collection:
          type: string
        typeOfResource_manuscript:
          type: string
        typeOfResource_usage:
          type: string
      type: object
    mods:
      properties:
        metadata:
          properties:
            mods:
              example:
              - attributes:
                - input_type: select
                  label: Type
                  ui_value: ac-number
                  xmlname: type
                - input_type: input_text
                  label: Language
                  xmlname: lang
                - input_type: input_text
                  label: Script
                  xmlname: script
                - input_type: input_text
                  label: Transliteration
                  xmlname: transliteration
                - input_type: input_text
                  label: Type URI
                  xmlname: typeURI
                - input_type: input_text
                  label: Display label
                  xmlname: displayLabel
                - input_type: select
                  label: Invalid
                  xmlname: invalid
                - input_type: input_text
                  label: Alternative representation group
                  xmlname: altRepGroup
                input_type: input_text
                label: Identifier
                ui_value: AC04090285
                xmlname: identifier
              - attributes:
                - input_type: input_text
                  label: Object part
                  xmlname: objectPart
                - input_type: input_text
                  label: Language
                  xmlname: lang
                - input_type: input_text
                  label: Script
                  xmlname: script
                - input_type: input_text
                  label: Transliteration
                  xmlname: transliteration
                - input_type: input_text
                  label: Display label
                  xmlname: displayLabel
                - input_type: select
                  label: Usage
                  xmlname: usage
                - input_type: input_text
                  label: Alternative representation group
                  xmlname: altRepGroup
                children:
                - attributes:
                  - input_type: select
                    label: Type
                    ui_value: code
                    xmlname: type
                  - input_type: select
                    label: Authority
                    ui_value: iso639-2b
                    xmlname: authority
                  - input_type: input_text
                    label: Authority URI
                    xmlname: authorityURI
                  - input_type: input_text
                    label: Value URI
                    xmlname: valueURI
                  - input_type: input_text
                    label: Language
                    xmlname: lang
                  - input_type: input_text
                    label: Script
                    xmlname: script
                  - input_type: input_text
                    label: Transliteration
                    xmlname: transliteration
                  input_type: input_text
                  label: Language term
                  ui_value: ger
                  xmlname: languageTerm
                input_type: node
                label: Language
                xmlname: language
              items:
                properties:
                  attributes:
                    items:
                      properties:
                        input_type:
                          type: string
                        label:
                          type: string
                        ui_value:
                          type: string
                        xmlname:
                          type: string
                      type: object
                    type: array
                  children:
                    items:
                      type: object
                    type: array
                  extensible:
                    type: number
                  input_type:
                    type: string
                  label:
                    type: string
                  ui_value:
                    type: string
                  xmlname:
                    type: string
                type: object
              type: array
          type: object
      type: object
    members:
      example:
      - pid: o:1
        pos: 1
      - pid: o:2
        pos: 2
      items:
        properties:
          pid:
            type: string
          pos:
            type: string
        type: object
      type: array
    rights:
      properties:
        username:
          items:
            example:
              expires: '2016-08-25T14:31:34Z'
              value: user123
            properties:
              expires:
                type: string
              value:
                type: string
            type: object
          type: array
      type: object
    geo:
      properties:
        metadata:
          properties:
            geo:
              example:
                kml:
                  document:
                    placemark:
                    - description: Json example of a point geo datastream
                      name: Name of geo datastream
                      point:
                        coordinates:
                          latitude: '41.6902784095934'
                          longitude: '44.8112504748688'
              type: object
          type: object
      type: object
    default:
      properties:
        alerts:
          items:
            properties:
              msg:
                type: string
              type:
                type: string
            type: object
          type: array
        status:
          type: number
      type: object
    uwmetadata_article_basic:
      example:
        metadata:
          uwmetadata:
          - children:
            - datatype: CharacterString
              input_type: input_text
              ui_value: o:454073
              xmlname: identifier
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - attributes:
              - input_type: select
                ui_value: en
                xmlname: lang
              datatype: LangString
              input_type: input_text
              ui_value: Tolerance and reward equity predict cooperation in ravens (Corvus corax)
              xmlname: title
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - datatype: Language
              input_type: select
              ui_value: en
              xmlname: language
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - attributes:
              - input_type: select
                ui_value: en
                xmlname: lang
              datatype: LangString
              input_type: input_text
              ui_value: Cooperative decision rules have so far been shown experimentally mainly in mammal species that have variable and complex social networks. However, these traits should not necessarily be restricted to mammals. Therefore, we tested cooperative problem solving in ravens. We showed that, without training, nine ravens spontaneously cooperated in a loose-string task. Corroborating findings in several species, ravensâ�� cooperative success increased with increasing inter-individual tolerance levels. Importantly, we found this in both a forced dyadic setting, and in a group setting where individuals had an open choice to cooperate with whomever. The ravens, moreover, also paid attention to the resulting reward distribution and ceased cooperation when being cheated upon. Nevertheless, the ravens did not seem to pay attention to the behavior of their partners while cooperating, and future research should reveal whether this is task specific or a general pattern. Given their natural propensity to cooperate and the results we present here, we consider ravens as an interesting model species to study the evolution of, and the mechanisms underlying cooperation.
              xmlname: description
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - attributes:
              - input_type: select
                ui_value: en
                xmlname: lang
              datatype: LangString
              input_type: input_text
              ui_value: Animal behaviour
              xmlname: keyword
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - attributes:
              - input_type: select
                ui_value: en
                xmlname: lang
              datatype: LangString
              input_type: input_text
              ui_value: Behavioural ecology
              xmlname: keyword
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - attributes:
              - input_type: select
                ui_value: en
                xmlname: lang
              datatype: LangString
              input_type: input_text
              ui_value: Social evolution
              xmlname: keyword
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - datatype: Boolean
              input_type: select
              ui_value: 'yes'
              xmlname: irdata
              xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
            - children:
              - datatype: Vocabulary
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_31/1552099
                xmlname: resource
                xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              - datatype: CharacterString
                input_type: input_text
                ui_value: 10.1038/srep15021
                xmlname: identifier
                xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              datatype: Node
              input_type: node
              xmlname: identifiers
              xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
            - children:
              - datatype: Vocabulary
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_31/1552101
                xmlname: resource
                xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              - datatype: CharacterString
                input_type: input_text
                ui_value: 2045-2322
                xmlname: identifier
                xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              datatype: Node
              input_type: node
              xmlname: identifiers
              xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
            datatype: Node
            input_type: node
            xmlname: general
            xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          - children:
            - datatype: DateTime
              input_type: input_text
              ui_value: '2016-08-23T11:53:04.000Z'
              xmlname: upload_date
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - datatype: Vocabulary
              input_type: select
              ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_2/44
              xmlname: status
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - datatype: Boolean
              input_type: select
              ui_value: 'yes'
              xmlname: peer_reviewed
              xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
            - attributes:
              - input_type: input_text
                ui_value: '0'
                xmlname: data_order
              children:
              - datatype: Vocabulary
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/46
                xmlname: role
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              - attributes:
                - input_type: input_text
                  ui_value: '0'
                  xmlname: data_order
                children:
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: Jorg J. M.
                  xmlname: firstname
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: Massen
                  xmlname: lastname
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                datatype: Node
                input_type: node
                xmlname: entity
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              - attributes:
                - input_type: input_text
                  ui_value: '1'
                  xmlname: data_order
                children:
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: '761'
                  xmlname: institution
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: institution
                  xmlname: type
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                datatype: Node
                input_type: node
                xmlname: entity
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              datatype: Node
              input_type: node
              xmlname: contribute
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - attributes:
              - input_type: input_text
                ui_value: '1'
                xmlname: data_order
              children:
              - datatype: Vocabulary
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/46
                xmlname: role
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              - attributes:
                - input_type: input_text
                  ui_value: '0'
                  xmlname: data_order
                children:
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: Caroline
                  xmlname: firstname
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: Ritter
                  xmlname: lastname
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                datatype: Node
                input_type: node
                xmlname: entity
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              - attributes:
                - input_type: input_text
                  ui_value: '1'
                  xmlname: data_order
                children:
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: '761'
                  xmlname: institution
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: institution
                  xmlname: type
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                datatype: Node
                input_type: node
                xmlname: entity
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              datatype: Node
              input_type: node
              xmlname: contribute
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - attributes:
              - input_type: input_text
                ui_value: '2'
                xmlname: data_order
              children:
              - datatype: Vocabulary
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/46
                xmlname: role
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              - attributes:
                - input_type: input_text
                  ui_value: '0'
                  xmlname: data_order
                children:
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: Thomas
                  xmlname: firstname
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: Bugnyar
                  xmlname: lastname
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                datatype: Node
                input_type: node
                xmlname: entity
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              - attributes:
                - input_type: input_text
                  ui_value: '1'
                  xmlname: data_order
                children:
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: '761'
                  xmlname: institution
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: institution
                  xmlname: type
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                datatype: Node
                input_type: node
                xmlname: entity
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              datatype: Node
              input_type: node
              xmlname: contribute
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - attributes:
              - input_type: input_text
                ui_value: '3'
                xmlname: data_order
              children:
              - datatype: Vocabulary
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/1557146
                xmlname: role
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              - attributes:
                - input_type: input_text
                  ui_value: '0'
                  xmlname: data_order
                children:
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: Institutional
                  xmlname: firstname
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: Repository
                  xmlname: lastname
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                datatype: Node
                input_type: node
                xmlname: entity
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              datatype: Node
              input_type: node
              xmlname: contribute
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - attributes:
              - input_type: input_text
                ui_value: '4'
                xmlname: data_order
              children:
              - datatype: Vocabulary
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/47
                xmlname: role
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              - attributes:
                - input_type: input_text
                  ui_value: '0'
                  xmlname: data_order
                children:
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: Nature Publishing Group
                  xmlname: institution
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                - datatype: CharacterString
                  input_type: input_text
                  ui_value: institution
                  xmlname: type
                  xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                datatype: Node
                input_type: node
                xmlname: entity
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              datatype: Node
              input_type: node
              xmlname: contribute
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - datatype: Vocabulary
              input_type: select
              ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_38/1556250
              xmlname: infoeurepoversion
              xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
            - datatype: Vocabulary
              input_type: select
              ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_40/1557088
              xmlname: metadataqualitycheck
              xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
            datatype: Node
            input_type: node
            xmlname: lifecycle
            xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          - children:
            - datatype: CharacterString
              input_type: input_text
              ui_value: application/pdf
              xmlname: format
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - datatype: FileSize
              input_type: input_text
              ui_value: '650007'
              xmlname: size
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            datatype: Node
            input_type: node
            xmlname: technical
            xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          - children:
            - datatype: Boolean
              input_type: select
              ui_value: 'no'
              xmlname: cost
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - datatype: Boolean
              input_type: select
              ui_value: 'yes'
              xmlname: copyright
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - datatype: License
              input_type: select
              ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_21/16
              xmlname: license
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            - datatype: Vocabulary
              input_type: select
              ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_36/1556227
              xmlname: infoeurepoaccess
              xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
            datatype: Node
            input_type: node
            xmlname: rights
            xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          - datatype: Node
            input_type: node
            xmlname: classification
            xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          - children:
            - datatype: Vocabulary
              input_type: select
              ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_17/1552253
              xmlname: hoschtyp
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
            - children:
              - datatype: Faculty
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_faculty/A50
                xmlname: faculty
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              - datatype: Department
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_department/A761
                xmlname: department
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              datatype: Node
              input_type: node
              xmlname: orgassignment
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
            - children:
              - datatype: Faculty
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_faculty/A50
                xmlname: faculty
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              - datatype: Department
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_department/A761
                xmlname: department
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              datatype: Node
              input_type: node
              xmlname: orgassignment
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
            - children:
              - datatype: Faculty
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_faculty/A50
                xmlname: faculty
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              - datatype: Department
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_department/A761
                xmlname: department
                xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              datatype: Node
              input_type: node
              xmlname: orgassignment
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
            datatype: Node
            input_type: node
            xmlname: organization
            xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          - children:
            - children:
              - datatype: Vocabulary
                input_type: select
                ui_value: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0/voc_25/1557094
                xmlname: reference
                xmlns: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0
              - datatype: CharacterString
                input_type: input_text
                ui_value: M1351-B17
                xmlname: number
                xmlns: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0
              datatype: Node
              input_type: node
              xmlname: reference_number
              xmlns: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0
            datatype: Node
            input_type: node
            xmlname: histkult
            xmlns: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0
          - children:
            - attributes:
              - input_type: select
                ui_value: en
                xmlname: lang
              datatype: LangString
              input_type: input_text
              ui_value: Scientific Reports
              xmlname: name_magazine
              xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
            - datatype: CharacterString
              input_type: input_text
              ui_value: '5'
              xmlname: volume
              xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
            - datatype: CharacterString
              input_type: input_text
              ui_value: '15021'
              xmlname: from_page
              xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
            - datatype: DateTime
              input_type: input_text
              ui_value: '2015'
              xmlname: releaseyear
              xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
            datatype: Node
            input_type: node
            xmlname: digitalbook
            xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
      type: object
    uwmetadata:
      items:
        properties:
          cardinality:
            type: integer
          children:
            items:
              type: object
            type: array
          data_order:
            type: string
          datatype:
            type: string
          disabled:
            type: integer
          field_order:
            type: integer
          help_id:
            type: string
          hidden:
            type: integer
          input_regex:
            type: string
          input_type:
            type: string
          labels:
            type: object
          loaded:
            type: integer
          mandatory:
            type: integer
          ordered:
            type: integer
          ui_value:
            type: string
          value:
            type: string
          value_lang:
            type: string
          xmlname:
            type: string
          xmlns:
            type: string
        type: object
      type: array
    vocabularies:
      properties:
        abstract_type:
          items:
            type: string
          type: array
        accessCondition_type:
          items:
            type: string
          type: array
        authority_genre_form:
          items:
            type: string
          type: array
        authority_name_title:
          items:
            type: string
          type: array
        authority_relator_role:
          items:
            type: string
          type: array
        classification_authority:
          items:
            type: string
          type: array
        date_encoding:
          items:
            type: string
          type: array
        date_point:
          items:
            type: string
          type: array
        date_qualifier:
          items:
            type: string
          type: array
        descriptionStandard:
          items:
            type: string
          type: array
        description_authority:
          items:
            type: string
          type: array
        description_form_type:
          items:
            type: string
          type: array
        digital_origin:
          items:
            type: string
          type: array
        event_type:
          items:
            type: string
          type: array
        frequency:
          items:
            type: string
          type: array
        identifier_type:
          items:
            type: string
          type: array
        issuance:
          items:
            type: string
          type: array
        item_type:
          items:
            type: string
          type: array
        language_authority:
          items:
            type: string
          type: array
        location_type:
          items:
            type: string
          type: array
        location_url_type:
          items:
            type: string
          type: array
        location_url_usage:
          items:
            type: string
          type: array
        'no':
          items:
            type: string
          type: array
        note_type:
          items:
            type: string
          type: array
        org_authority:
          items:
            type: string
          type: array
        part_detail_title_type:
          items:
            type: string
          type: array
        part_extent_unit:
          items:
            type: string
          type: array
        part_text_type:
          items:
            type: string
          type: array
        part_type:
          items:
            type: string
          type: array
        physdesc_note_type:
          items:
            type: string
          type: array
        primary:
          items:
            type: string
          type: array
        reformatting_quality:
          items:
            type: string
          type: array
        subject_authority:
          items:
            type: string
          type: array
        target_authority:
          items:
            type: string
          type: array
        thority:
          items:
            type: string
          type: array
        toc_type:
          items:
            type: string
          type: array
        type_1:
          items:
            type: string
          type: array
        type_2:
          items:
            type: string
          type: array
        type_3:
          items:
            type: string
          type: array
        type_4:
          items:
            type: string
          type: array
        type_5:
          items:
            type: string
          type: array
        type_of_resource:
          items:
            type: string
          type: array
        unitType_type:
          items:
            type: string
          type: array
        'yes':
          items:
            type: string
          type: array
      type: object
    annotations:
      properties:
        metadata:
          properties:
            annotations:
              example:
                '1':
                  category: place
                  h: 0.18
                  text: First example of annotation
                  w: 0.2
                  x: 0.7
                  y: 0.6
                '2':
                  category: place
                  h: 0.1
                  text: Second example of annotation
                  w: 0.15
                  x: 0.1
                  y: 0.8
                '3':
                  category: people
                  h: 0.1
                  text: Third example of annotation
                  w: 0.1
                  x: 0.7
                  y: 0.4
              type: object
          type: object
      type: object
    mods_tree:
      properties:
        alerts:
          items:
            properties:
              msg:
                type: string
              type:
                type: string
            type: object
          type: array
        languages:
          type: object
        status:
          type: number
        tree:
          $ref: '#/components/schemas/mods'
        vocabularies:
          $ref: '#/components/schemas/vocabularies'
        vocabularies_mapping:
          $ref: '#/components/schemas/vocabularies_mapping'
      type: object
    uwmetadata_min:
      example:
      - children:
        - ui_value: Title
          value_lang: de
          xmlname: title
          xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
        - datatype: Language
          ui_value: de
          xmlname: language
          xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
        xmlname: general
        xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
      - children:
        - children:
          - datatype: Vocabulary
            ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/46
            xmlname: role
            xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          - children:
            - datatype: CharacterString
              ui_value: Brenda
              xmlname: firstname
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
            - datatype: CharacterString
              ui_value: Walsh
              xmlname: lastname
              xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
            data_order: '0'
            ordered: 1
            xmlname: entity
            xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          data_order: '0'
          ordered: 1
          xmlname: contribute
          xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
        xmlname: lifecycle
        xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
      - children:
        - datatype: License
          ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_21/1
          xmlname: license
          xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
        xmlname: rights
        xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
      items:
        properties:
          children:
            items:
              properties:
                datatype:
                  type: string
                input_type:
                  type: string
                ui_value:
                  type: string
                value_lang:
                  type: string
                xmlname:
                  type: string
                xmlns:
                  type: string
              type: object
            type: array
          datatype:
            type: string
          input_type:
            type: string
          xmlname:
            type: string
          xmlns:
            type: string
        type: object
      type: array
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
    tokenAuth:
      in: header
      name: X-XSRF-TOKEN
      type: apiKey
