openapi: 3.0.2
info:
  description: Documentation of the PHAIDRA API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: PHAIDRA datastream vocabularies API
  version: '3.0'
servers:
- description: API endpoint
  url: https://phaidra.unipd.it/api
tags:
- description: Requests for controlled vocabularies
  name: vocabularies
paths:
  /resolve:
    get:
      description: The resolver must be known/configured.
      parameters:
      - description: URI of term
        example: http://d-nb.info/gnd/4000044-8
        in: query
        name: uri
        schema:
          required: false
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  status:
                    type: number
                type: object
          description: Depends on the vocabulary
      summary: Resolve an URI
      tags:
      - vocabularies
  /terms/children:
    get:
      description: Retrieve the children for a term URI.
      parameters:
      - description: URI of term
        examples:
          Bibliotheks- und Archivwesen:
            summary: URI for the Vienna University Library and Archive Services
            value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/cls_1/347
        in: query
        name: uri
        schema:
          required: false
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  status:
                    type: number
                  terms:
                    properties:
                      labels:
                        properties:
                          de:
                            type: string
                          en:
                            type: string
                        type: object
                      nonpreferred:
                        items:
                          type: string
                        type: array
                      term_id:
                        type: string
                      upstream_identifier:
                        type: string
                    type: object
                type: object
          description: terms
      summary: Get children.
      tags:
      - vocabularies
  /terms/label:
    get:
      description: Retrieves the labels for a particular term using its URI as a parameter. It could be a term of a classification or a vocabulary (any type, even licenses and organisational units).
      parameters:
      - description: URI of term
        examples:
          cls_1:
            summary: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/cls_1/347
            value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/cls_1/347
          voc_17:
            summary: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_17/1552253
            value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_17/1552253
          voc_department:
            summary: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_department/A767
            value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_department/A767
          voc_faculty:
            summary: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_faculty/A150
            value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_faculty/A150
        in: query
        name: uri
        schema:
          required: false
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  labels:
                    properties:
                      labels:
                        properties:
                          de:
                            type: string
                          en:
                            type: string
                        type: object
                    type: object
                  nonpreferred:
                    items: {}
                    type: array
                  status:
                    type: number
                  term_id:
                    type: string
                  upstream_identifier:
                    type: number
                type: object
          description: labels
      summary: Get term labels.
      tags:
      - vocabularies
  /terms/parent:
    get:
      description: Retrieve the parent of a term, using its URI.
      parameters:
      - description: URI of term
        examples:
          Tieranatomie:
            summary: URI for the term "Animal anatomy"
            value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/cls_1/540
        in: query
        name: uri
        schema:
          required: false
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  parent:
                    type: string
                type: object
          description: parents
      summary: Get parent.
      tags:
      - vocabularies
  /terms/taxonpath:
    get:
      parameters:
      - description: URI of term
        examples:
          BibliotheksundArchivwesen:
            summary: URI for the Vienna University Library and Archive Services
            value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/cls_1/347
        in: query
        name: uri
        schema:
          required: false
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: number
                  taxonpath:
                    properties:
                      labels:
                        properties:
                          de:
                            type: string
                          en:
                            type: string
                        type: object
                      nonpreferred:
                        type: array
                      term_id:
                        type: string
                      upstream_identifier:
                        type: string
                      uri:
                        type: string
                    type: object
                type: object
          description: taxonpath
      summary: Get the taxon path.
      tags:
      - vocabularies
  /vocabulary:
    get:
      description: Get vocabulary which was saved in API in vocabulary folder.
      parameters:
      - description: vocabulary ID
        examples:
          http://id.loc.gov/vocabulary/iso639-2:
            summary: Vocabulary of languages
            value: http://id.loc.gov/vocabulary/iso639-2
          oefos2012:
            summary: OEFOS 2012 classification
            value: oefos2012
        in: query
        name: uri
        schema:
          type: string
      - description: cache
        in: query
        name: nocache
        schema:
          required: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  status:
                    type: number
                type: object
          description: JSON representation of the controlled vocabulary
      summary: Get controlled vocabulary
      tags:
      - vocabularies
components:
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
    tokenAuth:
      in: header
      name: X-XSRF-TOKEN
      type: apiKey
