openapi: 3.0.2
info:
  description: Documentation of the PHAIDRA API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: PHAIDRA datastream misc API
  version: '3.0'
servers:
- description: API endpoint
  url: https://phaidra.unipd.it/api
tags:
- description: ''
  name: misc
paths:
  /settings:
    get:
      description: Currently only used to set default metadata template in some external UIs.
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  settings:
                    type: object
                  status:
                    type: string
                type: object
          description: ''
      security:
      - basicAuth: []
      summary: Get user's settings
      tags:
      - misc
    post:
      description: Currently only used to set default metadata template in some external UIs.
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  settings:
                    type: object
                  status:
                    type: string
                type: object
          description: ''
      security:
      - basicAuth: []
      summary: Save user's settings.
      tags:
      - misc
  /state:
    get:
      description: Returns "remote_address". This method is used for monitoring.
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: The API is running!
      summary: Test api state
      tags:
      - misc
  /streaming/{pid}/key:
    get:
      description: The streaming key can be used when building your own video player. If you want the full video player, use /object/{pid}/preview instead.
      parameters:
      - description: pid - object id
        in: path
        name: pid
        schema:
          required: false
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  status:
                    type: number
                type: object
          description: Streaming key.
        '503':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  status:
                    type: number
                type: object
          description: Service Unavailable
      security:
      - basicAuth: []
      summary: Get streaming key
      tags:
      - misc
  /termsofuse:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  added:
                    type: string
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  status:
                    type: number
                  terms:
                    type: string
                  version:
                    type: string
                type: object
          description: Terms of use
      summary: Get terms of use
      tags:
      - misc
  /termsofuse/agree/{version}:
    post:
      description: Record the user agreement to a particular version of the terms of use.
      parameters:
      - description: version of the terms of use
        in: path
        name: version
        schema:
          required: true
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  status:
                    type: number
                type: object
          description: Terms of use
      security:
      - basicAuth: []
      summary: Agree to terms of use
      tags:
      - misc
  /termsofuse/getagreed:
    get:
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: object info
      security:
      - basicAuth: []
      summary: Checks if the current user agreed to the terms of use.
      tags:
      - misc
  /utils/get_all_pids:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  pids:
                    items:
                      type: string
                    type: array
                  status:
                    type: number
                type: object
          description: pids
      summary: Get all pids
      tags:
      - misc
components:
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
    tokenAuth:
      in: header
      name: X-XSRF-TOKEN
      type: apiKey
